OPENROUTER_API_KEY = your_api_key
BASE_URL= openrouter_base_url
EMBEDDING_MODEL= openrouter_embedding_model
MODEL= openrouter_model
MAX_TOKENS= int

COLLECTION_NAME= vector_db_collection_name
QDRANT_PATH= your_qdrant_path

TOP_K = int

CHUNK_SIZE = int
CHUNK_OVERLAP = int